<h1>Citizen Scientists</h1>

<form class="new_submission" id="new_submission" action="/thankyou" accept-charset="UTF-8" method="post">

<p>
  <input placeholder="info" type="text" name="name" id="cat_name" /><br><br>
  <input placeholder="info" type="text" name="image" id="cat_image" /><br><br>
  <textarea placeholder="life story" name="life_story" id="cat_life_story">
  </textarea><br><br>
  <input type="submit" name="commit" value="Submit" />
</p>

</form>
